/*Texto Header*/
header{
    width: 100%;
    height: auto;
    background-image: linear-gradient(#209CEE,whitesmoke)
    text-align: center;
       #home .header__titulo{
        font-size: 48px;
        font: solid;
        #home .header__intro{
        color: #343F4B;
        }
        }   
    }